In [116]:
import findspark
findspark.init()

In [117]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [118]:
spark=SparkSession.builder.appName("spark-sql-applicaiton").getOrCreate() # it gives both spark context as well as sql context

In [119]:
def mapper(element):
    element=element.split(',')
    return Row(ID=int(element[0]),name=element[1],age=int(element[2]),numFriends=int(element[3]))

In [120]:
sc=spark.sparkContext

In [121]:
base_rdd=sc.textFile("file:///Users/Prince.Bharti/Desktop/data/spark-course/fakefriends.csv.xls")

In [122]:
cleaned_rdd=base_rdd.map(mapper)

In [123]:
df=spark.createDataFrame(cleaned_rdd)

In [124]:
df=df.cache()

In [125]:
df.createOrReplaceTempView('people')

In [133]:
result=spark.sql("select * from people where age>=13 and age<=19")

In [134]:
type(result)

pyspark.sql.dataframe.DataFrame

In [135]:
result=result.collect()

In [136]:
for i in result:
    print(i)

Row(ID=21, age=19, name='Miles', numFriends=268)
Row(ID=52, age=19, name='Beverly', numFriends=269)
Row(ID=54, age=19, name='Brunt', numFriends=5)
Row(ID=106, age=18, name='Beverly', numFriends=499)
Row(ID=115, age=18, name='Dukat', numFriends=397)
Row(ID=133, age=19, name='Quark', numFriends=265)
Row(ID=136, age=19, name='Will', numFriends=335)
Row(ID=225, age=19, name='Elim', numFriends=106)
Row(ID=304, age=19, name='Will', numFriends=404)
Row(ID=341, age=18, name='Data', numFriends=326)
Row(ID=366, age=19, name='Keiko', numFriends=119)
Row(ID=373, age=19, name='Quark', numFriends=272)
Row(ID=377, age=18, name='Beverly', numFriends=418)
Row(ID=404, age=18, name='Kasidy', numFriends=24)
Row(ID=409, age=19, name='Nog', numFriends=267)
Row(ID=439, age=18, name='Data', numFriends=417)
Row(ID=444, age=18, name='Keiko', numFriends=472)
Row(ID=492, age=19, name='Dukat', numFriends=36)
Row(ID=494, age=18, name='Kasidy', numFriends=194)

In [130]:
re=df.groupBy('age').count().orderBy('age').collect()

In [131]:
for i in re:
    print(i)

Row(age=18, count=8)
Row(age=19, count=11)
Row(age=20, count=5)
Row(age=21, count=8)
Row(age=22, count=7)
Row(age=23, count=10)
Row(age=24, count=5)
Row(age=25, count=11)
Row(age=26, count=17)
Row(age=27, count=8)
Row(age=28, count=10)
Row(age=29, count=12)
Row(age=30, count=11)
Row(age=31, count=8)
Row(age=32, count=11)
Row(age=33, count=12)
Row(age=34, count=6)
Row(age=35, count=8)
Row(age=36, count=10)
Row(age=37, count=9)
Row(age=38, count=15)
Row(age=39, count=7)
Row(age=40, count=17)
Row(age=41, count=9)
Row(age=42, count=6)
Row(age=43, count=7)
Row(age=44, count=12)
Row(age=45, count=13)
Row(age=46, count=13)
Row(age=47, count=9)
Row(age=48, count=10)
Row(age=49, count=6)
Row(age=50, count=5)
Row(age=51, count=7)
Row(age=52, count=11)
Row(age=53, count=7)
Row(age=54, count=13)
Row(age=55, count=13)
Row(age=56, count=6)
Row(age=57, count=12)
Row(age=58, count=11)
Row(age=59, count=9)
Row(age=60, count=7)
Row(age=61, count=9)
Row(age=62, count=13)
Row(age=63, count=4)
Row(age=64, count=12)
Row(age=65, count=5)
Row(age=66, count=9)
Row(age=67, count=16)
Row(age=68, count=10)
Row(age=69, count=10)

In [132]:
df.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows